---
import Base from '../layouts/base.astro';
// import Header from '../components/header.astro';
---

<Base title="Modern Web Development Agency">
  <!-- <Header /> -->
  <div class="py-6 flex flex-col items-start">
    <section class="w-full px-6 py-40 md:py-60 flex flex-col items-center space-y-6">
      <h1 class="font-bold text-3xl md:text-5xl max-w-2xl text-center">
        The web agency for modern brands
      </h1>
      <p class="text-slate-600 text-center font-medium">
        We specialize in crafting sleek, scalable<br /> frontend solutions using React.
      </p>
    </section>
    <section class="w-full px-6 py-40 md:py-60 flex flex-col items-center space-y-6 bg-slate-950">
      <h2 class="text-slate-200 font-bold text-3xl md:text-5xl max-w-2xl text-center">
        What we offer
      </h2>
      <p class="text-slate-400 text-center font-medium max-w-lg md:max-w-xl">
        We tailor our strategy to meet your business needs. Whether you're starting with an idea or
        scaling an established company, we’re here to help you and your team grow.
      </p>
      <ul
        class="pt-12 w-full max-w-5xl grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 md:gap-x-20 md:gap-y-12"
      >
        <li class="flex flex-col space-y-2">
          <img src="/svgs/zap.svg" alt="Lightning icon" class="w-8 h-8" />
          <span class="text-slate-200">Rapide delivery. Generally between 5-8 days.</span>
        </li>
        <li class="flex flex-col space-y-2">
          <img src="/svgs/boxes.svg" alt="Solution icon" class="w-8 h-8" />
          <span class="text-slate-200">Tailored solution for your business needs.</span>
        </li>
        <li class="flex flex-col space-y-2">
          <img src="/svgs/euro.svg" alt="Euro icon" class="w-8 h-8" />
          <span class="text-slate-200">Fixed rate. No end-of-month suprises.</span>
        </li>
        <li class="flex flex-col space-y-2">
          <img src="/svgs/star.svg" alt="Star icon" class="w-8 h-8" />
          <span class="text-slate-200">Premium quality assured.</span>
        </li>
        <li class="flex flex-col space-y-2">
          <img src="/svgs/shield.svg" alt="Shield icon" class="w-8 h-8" />
          <span class="text-slate-200">7-day money back guaranteed, no questions asked.</span>
        </li>
        <li class="flex flex-col space-y-2">
          <img src="/svgs/handshake.svg" alt="Handshake icon" class="w-8 h-8" />
          <span class="text-slate-200">Designed to grow with your business.</span>
        </li>
      </ul>
    </section>
    <section
      class="w-full max-w-7xl mx-auto px-6 py-40 md:py-60 flex flex-col items-center space-y-6"
    >
      <h2 class="font-bold text-3xl md:text-5xl text-center">Pricing made simple again</h2>
      <p class="text-slate-700 text-center font-medium max-w-lg md:max-w-xl">
        Our pricing model is transparent—designed to make things easier for both you and us.
      </p>
      <div class="pt-12 w-full grid grid-cols-1 lg:grid-cols-3 gap-20">
        <div class="flex flex-col space-y-6">
          <span class="text-xl font-semibold">One-off consultations</span>
          <span class="font-medium underline">€150/hour</span>
          <span>Ideal for businesses seeking guidance on a specific topic.</span>
          <div class="flex flex-col space-y-2">
            <span class="font-medium">What we cover:</span>
            <ul class="flex flex-col space-y-1">
              <li class="flex items-center space-x-2">
                <img src="/svgs/check.svg" alt="Check icon" class="w-5 h-5" />
                <span>Backend architecture (JS/TS)</span>
              </li>
              <li class="flex items-center space-x-2">
                <img src="/svgs/check.svg" alt="Check icon" class="w-5 h-5" />
                <span>Frontend architecture (React)</span>
              </li>
              <li class="flex items-center space-x-2">
                <img src="/svgs/check.svg" alt="Check icon" class="w-5 h-5" />
                <span>Performance optimization</span>
              </li>
              <li class="flex items-center space-x-2">
                <img src="/svgs/check.svg" alt="Check icon" class="w-5 h-5" />
                <span>Scalability</span>
              </li>
              <li class="flex items-center space-x-2">
                <img src="/svgs/check.svg" alt="Check icon" class="w-5 h-5" />
                <span>TypeScript</span>
              </li>
            </ul>
          </div>
          <a
            href="https://cal.com/herbievine/30min"
            class="w-fit px-3 py-2 bg-[#1C7DC8]/90 hover:bg-[#1C7DC8] transition-colors duration-200 text-white font-semibold"
          >
            Book a call
          </a>
        </div>
        <div class="flex flex-col space-y-6">
          <span class="text-xl font-semibold">Collaboration</span>
          <span class="font-medium underline">€2,400/month</span>
          <span>Full-stack solutions, tailored to your unique requirements.</span>
          <div class="flex flex-col space-y-2">
            <span class="font-medium">What's included?</span>
            <ul class="flex flex-col space-y-1">
              <li class="flex items-center space-x-2">
                <img src="/svgs/check.svg" alt="Check icon" class="w-5 h-5" />
                <span>The code is yours to keep</span>
              </li>
              <li class="flex items-center space-x-2">
                <img src="/svgs/check.svg" alt="Check icon" class="w-5 h-5" />
                <span>Private slack channel</span>
              </li>
              <li class="flex items-center space-x-2">
                <img src="/svgs/check.svg" alt="Check icon" class="w-5 h-5" />
                <span>1 request at a time</span>
              </li>
              <li class="flex items-center space-x-2">
                <img src="/svgs/check.svg" alt="Check icon" class="w-5 h-5" />
                <span>8-10 day turnaround</span>
              </li>
              <li class="flex items-center space-x-2">
                <img src="/svgs/check.svg" alt="Check icon" class="w-5 h-5" />
                <span>Unlimited revisions</span>
              </li>
            </ul>
          </div>
          <a
            href="https://cal.com/herbievine/30min"
            class="w-fit px-3 py-2 bg-[#1C7DC8]/90 hover:bg-[#1C7DC8] transition-colors duration-200 text-white font-semibold"
          >
            Book a call
          </a>
        </div>
        <div class="flex flex-col space-y-6">
          <span class="text-xl font-semibold">Partnership</span>
          <span class="font-medium underline">€4,000/month</span>
          <span>Full-stack solutions, tailored to your unique requirements.</span>
          <div class="flex flex-col space-y-2">
            <span class="font-medium">What's included?</span>
            <ul class="flex flex-col space-y-1">
              <li class="flex items-center space-x-2">
                <img src="/svgs/check.svg" alt="Check icon" class="w-5 h-5" />
                <span>The code is yours to keep</span>
              </li>
              <li class="flex items-center space-x-2">
                <img src="/svgs/check.svg" alt="Check icon" class="w-5 h-5" />
                <span>Private slack channel</span>
              </li>
              <li class="flex items-center space-x-2">
                <img src="/svgs/check.svg" alt="Check icon" class="w-5 h-5" />
                <span>Attend certain meetings</span>
              </li>
              <li class="flex items-center space-x-2">
                <img src="/svgs/check.svg" alt="Check icon" class="w-5 h-5" />
                <span>In sync with your team</span>
              </li>
              <li class="flex items-center space-x-2">
                <img src="/svgs/check.svg" alt="Check icon" class="w-5 h-5" />
                <span>5-7 day turnaround</span>
              </li>
              <li class="flex items-center space-x-2">
                <img src="/svgs/check.svg" alt="Check icon" class="w-5 h-5" />
                <span>Unlimited requests</span>
              </li>
              <li class="flex items-center space-x-2">
                <img src="/svgs/check.svg" alt="Check icon" class="w-5 h-5" />
                <span>Unlimited revisions</span>
              </li>
            </ul>
          </div>
          <a
            href="https://cal.com/herbievine/30min"
            class="w-fit px-3 py-2 bg-[#1C7DC8]/90 hover:bg-[#1C7DC8] transition-colors duration-200 text-white font-semibold"
          >
            Book a call
          </a>
        </div>
      </div>
    </section>
  </div>
</Base>
