---
import Base from '../layouts/base.astro'
import Header from '../components/header.astro'
---

<Base title='Home' description='Bleu home page'>
  <Header />
  <div>
    <p>hello world</p>
  </div>
</Base>
